* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a6a6a6;
}

header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #464545fe;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #575757;
}

.hero {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20221005/pngtree-healthy-lowcarb-ingredients-on-white-background-for-keto-diet-photo-image_39385706.jpg");
  background-size: cover;
  color: #363636;
  text-align: center;
  padding: 200px 0;
}

.contact {
  padding: 50px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #f19e94;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #373737;
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}
